# Data Science Tools and Ecosystem

##  Author
David E. Rodriguez

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
- List popular languages for Data Science
- List popular libraries for Data Science
- Show examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists us are:
1. Python
1. R
1. SQL

Some of the popular libraries used by Data Scientists us are:
1. Tensor Flow
1. Pandas
1. NumPy

| Data Science Tools |
| ------------------ |
| Python |
| RStudio |
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
## This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335